<form
  autocomplete="off"
  [formGroup]="addTaskForm"
  (ngSubmit)="onSubmit()"
  class="add-task"
>
  <div class="add-task__row">
    <mat-form-field class="add-task__field" appearance="outline">
      <mat-label>Add task</mat-label>
      <input formControlName="title" class="add-task__input" matInput />
      <mat-error *ngIf="addTaskForm.invalid">{{ getTaskError() }}</mat-error>
    </mat-form-field>
    <button
      class="add-task__button"
      type="submit"
      [disabled]="addTaskForm.invalid"
      mat-raised-button
      color="primary"
    >
      Add
    </button>
  </div>
  <div class="add-task__options">
    <mat-radio-group
      formControlName="period"
      class="add-task__periods"
      aria-label="Select an option"
      color="primary"
    >
      <mat-radio-button value="1 week">1 week</mat-radio-button>
      <mat-radio-button value="2 weeks">2 weeks</mat-radio-button>
      <mat-radio-button value="1 month">1 month</mat-radio-button>
    </mat-radio-group>
    <mat-form-field id="deadline-picker" appearance="outline">
      <mat-label>Set date</mat-label>
      <input
        placeholder="MM/DD/YYYY"
        formControlName="plannedDate"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addTaskForm.invalid">{{
        getPlannedDateError()
      }}</mat-error>
    </mat-form-field>
  </div>
</form>
