<form
  autocomplete="off"
  [formGroup]="addTaskForm"
  (ngSubmit)="onSubmit()"
  class="add-task"
>
  <div class="add-task__row">
    <mat-form-field class="add-task__field" appearance="outline">
      <mat-label>Add task</mat-label>
      <input formControlName="title" class="add-task__input" matInput />
      <mat-error *ngIf="addTaskForm.invalid">{{ getTaskError() }}</mat-error>
    </mat-form-field>
    <button
      class="add-task__button"
      type="submit"
      [disabled]="addTaskForm.invalid"
      mat-raised-button
      color="primary"
    >
      Add
    </button>
  </div>
  <div class="add-task__options">
    <div class="add-task__weekdays">
      <mat-checkbox
        (change)="setAll($event.checked)"
        class="add-task__checkbox"
        color="primary"
        [checked]="allSelected"
        [disabled]="addTaskForm.invalid || !isDaysValid"
      >
        Week
      </mat-checkbox>
      <mat-checkbox
        (change)="day.selected = $event.checked; watchAllDays()"
        [checked]="day.selected"
        class="add-task__checkbox"
        color="primary"
        *ngFor="let day of weekDays"
        [disabled]="addTaskForm.invalid || !isDaysValid"
      >
        {{ day.name | truncate: 3:false:"" }}
      </mat-checkbox>
    </div>
    <mat-form-field id="deadline-picker" appearance="outline">
      <mat-label>Set date</mat-label>
      <input
        placeholder="MM/DD/YYYY"
        formControlName="plannedDate"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addTaskForm.invalid">{{
        getPlannedDateError()
      }}</mat-error>
    </mat-form-field>
  </div>
</form>
