<div *ngIf="projectMode !== 'pending'; else spinner">
  <h1 [ngStyle]="{ 'margin-bottom': project ? '0' : '16px' }" class="title">
    {{
      projectMode === "project"
        ? project.title
        : projectMode === "task"
        ? "Tasks"
        : ""
    }}
  </h1>
  <div class="sub-title" *ngIf="project">
    {{ project.description }}
  </div>
  <app-add-task (addTaskEvent)="addNewTask($event)"></app-add-task>
  <mat-card>
    <div *ngIf="incompleteTasks.length === 0" class="message">
      <mat-icon>task</mat-icon>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <app-task-item
        class="example-box"
        [task]="task"
        [mode]="projectMode === 'task'"
        *ngFor="let task of incompleteTasks"
        (completeTaskEvent)="completeTask($event)"
        (updateTaskEvent)="updateTask($event)"
        (deleteTaskEvent)="deleteTask($event)"
        cdkDrag
      ></app-task-item>
    </div>
  </mat-card>
  <mat-accordion class="accordion">
    <mat-expansion-panel
      class="mat-elevation-z0"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header class="accordion__header">
        <mat-panel-title>Completed </mat-panel-title>
        <mat-panel-description>
          {{ completedTasks.length }} tasks
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-task-item
        class="example-box completed"
        [mode]="projectMode === 'task'"
        [task]="task"
        *ngFor="let task of completedTasks"
        (completeTaskEvent)="completeTask($event)"
        (updateTaskEvent)="updateTask($event)"
        (deleteTaskEvent)="deleteTask($event)"
      ></app-task-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #spinner>
  <mat-spinner color="primary" [diameter]="50"></mat-spinner>
</ng-template>
