/* You can add global styles to this file, and also import other style files */
@use "src/sass/variables.scss" as vars;
@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Poppins",
);

@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-card {
  box-shadow: vars.$primaryBoxShadow !important;
  border-radius: vars.$primaryRadius !important;
}

.mat-expansion-panel {
  box-shadow: vars.$primaryBoxShadow !important;
  border-radius: vars.$primaryRadius !important;
}
