<mat-card class="task-item">
  <div class="task-item__row">
    <div>
      <div class="task-item__cover">
        <mat-checkbox
          [checked]="task.completed"
          class="example-margin"
          color="primary"
          (change)="onComplete()"
        >
        </mat-checkbox>
        <span class="task-item__text">{{ task.title }}</span>
      </div>
      <div class="task-item__footer">
        <span
          class="task-item__label"
          *ngIf="task.projectRef?.title && mode"
          (click)="openProject()"
          [title]="task.projectRef?.title ? task.projectRef?.title : ''"
        >
          {{ task.projectRef?.title | truncate: 15 }}
        </span>
        <!--dot in the middle -->
        <span *ngIf="task.projectRef?.title && mode" class="task-item__dot"
          >&middot;</span
        >
        <span>{{ task.plannedDate | date: "MM/dd/yyyy" }}</span>
        <span *ngIf="task.commonTask" class="task-item__dot">&middot;</span>
        <span *ngIf="task.commonTask">Common task</span>
      </div>
    </div>

    <div class="task-item__buttons">
      <button class="task-item__button" mat-icon-button (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="task-item__button" mat-icon-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
