<mat-card class="sign-in">
  <h1>Organizer</h1>
  <form
    autocomplete="off"
    (ngSubmit)="onSubmit()"
    [formGroup]="signInForm"
    class="sign-in__form"
  >
    <mat-form-field class="sign-in__field" appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput />
      <mat-error *ngIf="signInForm.invalid">{{ getEmailError() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="sign-in__field" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="signInForm.invalid">{{ getPasswordError() }}</mat-error>
    </mat-form-field>

    <button
      class="sign-in__button"
      mat-raised-button
      color="primary"
      [disabled]="signInForm.invalid"
    >
      Sign in
    </button>
  </form>
  <p class="sign-in__create">
    Don't have account? <a [routerLink]="['/sign-up']">Sign up</a>
  </p>
</mat-card>
