<div class="projects-header">
  <h1 class="projects-title">Projects</h1>
  <button mat-icon-button (click)="openAddProjectForm()" class="add-project">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="project-list">
  <app-project-item
    (deleteProjectEvent)="deleteProject($event)"
    (updateProjectEvent)="updateProject($event)"
    class="project-item"
    *ngFor="let project of projects$ | async"
    [project]="project"
  ></app-project-item>
</div>
<router-outlet></router-outlet>
