<div class="task-item">
  <div class="task-item__row">
    <div class="task-item__cover">
      <mat-checkbox
        [checked]="task.completed"
        class="example-margin"
        color="accent"
        (change)="onComplete()"
      >
        <span class="task-item__text">{{ task.title }}</span>
      </mat-checkbox>
    </div>
    <div class="task-item__buttons">
      <button class="task-item__button" mat-icon-button (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="task-item__button" mat-icon-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
