@use "src/sass/mixins" as mixins;
@use "src/sass/variables" as vars;

.task-item {
  transition: all 0.2s ease-in-out;
  flex: 1;
  box-shadow: vars.$primaryBoxShadow;
  padding: vars.$secondaryPadding;
  border-radius: vars.$primaryRadius;

  &__row {
    @include mixins.flex(10px, row, space-between);
  }

  &__buttons {
    visibility: collapse;
  }

  &__button {
    color: gray;
  }

  &__cover {
    flex: 1;
  }

  &__text {
    font-size: 18px;
  }

  &:hover &__buttons {
    visibility: visible;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  }
}
