@use "src/sass/mixins" as mixins;
@use "src/sass/variables" as vars;

.task-item {
  transition: all 0.3 ease-in-out;
  box-shadow: vars.$primaryBoxShadow;
  padding: vars.$secondaryPadding;
  border-radius: vars.$primaryRadius;
  margin: 8px 0;

  &__row {
    @include mixins.flex(10px, row, space-between);
  }

  &__buttons {
    visibility: collapse;
  }

  &__button {
    color: gray;
  }

  &__cover {
    flex: 1;
  }

  &__text {
    font-size: 18px;
  }

  &:hover &__buttons {
    visibility: visible;
  }

  &:hover {
    cursor: pointer;
  }
}
