@use "src/sass/variables" as vars;
.accordion {
  margin-top: 20px !important;
  display: block;
  box-shadow: vars.$primaryBoxShadow;
  border-radius: vars.$primaryRadius;
}

.message {
  margin-top: 20px !important;
  text-align: center;

  mat-icon {
    font-size: 48px;
  }
}
