<h1 class="title">Tasks</h1>
<div style="display: flex; gap: 20px; margin: 20px 0">
  <button mat-raised-button color="warn" (click)="callAlert('success')">
    Success alert
  </button>
  <button mat-raised-button color="accent" (click)="callAlert('error')">
    Error alert
  </button>
  <button mat-raised-button color="primary" (click)="callAlert('info')">
    Info alert
  </button>
</div>
<app-add-task (addTaskEvent)="addNewTask($event)"></app-add-task>
<mat-card>
  <div class="message" *ngIf="incompleteTasks.length === 0">
    <mat-icon>task</mat-icon>
  </div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <app-task-item
      class="example-box"
      [task]="task"
      *ngFor="let task of incompleteTasks"
      (completeTaskEvent)="completeTask($event)"
      (updateTaskEvent)="updateTask($event)"
      (deleteTaskEvent)="deleteTask($event)"
      cdkDrag
    ></app-task-item>
  </div>
</mat-card>
<mat-accordion class="accordion">
  <mat-expansion-panel
    class="mat-elevation-z0"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header class="accordion__header">
      <mat-panel-title>Completed </mat-panel-title>
      <mat-panel-description>
        {{ completedTasks.length }} tasks
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-task-item
      class="example-box"
      [task]="task"
      *ngFor="let task of completedTasks"
      (completeTaskEvent)="completeTask($event)"
      (updateTaskEvent)="updateTask($event)"
      (deleteTaskEvent)="deleteTask($event)"
    ></app-task-item>
  </mat-expansion-panel>
</mat-accordion>
