@import "~@angular/material/theming";

@include mat-core();

$mat-theming-primary: mat-palette($mat-blue, 800);
$mat-theming-accent: mat-palette($mat-green, 600);
$mat-theming-warn: mat-palette($mat-pink, A200);

$mat-theming-theme: mat-light-theme(
  $mat-theming-primary,
  $mat-theming-accent,
  $mat-theming-warn
);

$mat-theming-theme-dark: mat-dark-theme(
  $mat-theming-primary,
  $mat-theming-accent,
  $mat-theming-warn
);

.theme-dark {
  @include angular-material-theme($mat-theming-theme-dark);
}

.theme-light {
  @include angular-material-theme($mat-theming-theme);
}
