<mat-card class="project-card">
  <mat-card-header>
    <mat-card-title>
      <span
        [title]="project.title"
        [routerLink]="[project._id]"
        class="project-card__title"
      >
        {{ project.title | truncate: 90 }}
      </span>
    </mat-card-title>
    <mat-card-subtitle
      [title]="project.description"
      class="project-card__subtitle"
    >
      {{ project.description | truncate: 90 }}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="project-card__footer">
    <div class="project-card__info">
      <div class="project-card__completed">
        <mat-icon>check</mat-icon>{{ completedTaskCount }}
      </div>
      <div class="project-card__waiting">
        <mat-icon class="material-icons-outlined">watch_later</mat-icon>
        {{ incompleteTasksCount }}
      </div>
    </div>
    <div class="project-card__actions">
      <mat-icon (click)="onUpdateProject()">edit</mat-icon>
      <mat-icon (click)="onDeleteProject()">delete</mat-icon>
    </div>
  </div>
  <mat-progress-bar
    *ngIf="completionPercentage > 0"
    class="project-card__progress"
    mode="determinate"
    value="{{ completionPercentage }}"
  ></mat-progress-bar>
</mat-card>
