<h2 mat-dialog-title>Edit task</h2>
<mat-dialog-content class="mat-typography">
  <form autocomplete="off" [formGroup]="editTaskForm" class="add-task">
    <mat-form-field
      style="width: 100%"
      class="dialog-body__row"
      appearance="outline"
    >
      <mat-label>Name</mat-label>
      <input formControlName="text" matInput cdkFocusInitial />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="{
      title: editTaskForm.value.text,
      completed: task.completed,
      _id: task._id
    }"
    cdkFocusInitial
  >
    Save
  </button>
</mat-dialog-actions>
